.section {
    padding: 50px;
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        padding: 20px;
    }
}

@media screen and (max-width: 540px) {
    .section {
        padding: 10px;
    }
}