@use '../variables.scss';

.footer {
    width: 100%;
    background-color: variables.$secondary-text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: variables.$background-color;

    &__copyright {
        margin: 10px;
        text-align: center;
    }

    &__creator {
        text-align: center;
        p {
            letter-spacing: 2px;

            span {
                color: variables.$secondary-color;
            }
        }
    }
}